 <div id="carousel-wrapper">
        <div id="carousel"> 
          <a id="carousel-prev" class="prev browse left" title="Previous slide" style="display: none;"><span class="arrow ir">Next</span></a>
          <a id="carousel-next" class="next browse right" title="Next slide" style="display: none;"><span class="arrow ir">Previous</span></a>                            
          <ol class="items" style="left: -1480px;"><li class="cloned">          
                <img src="http://cdn.shopify.com/s/files/1/0107/9662/t/3/assets/carousel-item-2.jpg?28" alt="">          
            </li>        
            <li>          
                <img src="http://cdn.shopify.com/s/files/1/0107/9662/t/3/assets/carousel-item-1.jpg?28" alt="">          
            </li>        
            <li>         
                <img src="http://cdn.shopify.com/s/files/1/0107/9662/t/3/assets/carousel-item-2.jpg?28" alt="">          
            </li>
            
          <li class="cloned">
              
                <img src="http://cdn.shopify.com/s/files/1/0107/9662/t/3/assets/carousel-item-1.jpg?28" alt="">
              
            </li></ol>  
        </div>
            
      </div>
