<div class="content-wrapper clearfix">

      
    <div id="col-main" class="content">
    <div id="page-header">
      <h2 id="page-title">Quien Soy yo?</h2>	
    </div>
    <p>Mi nombre es <strong>Luis Albeiro Laverde</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer id augue sed diam congue dictum sit amet eget ipsum. Morbi viverra sem orci. Vivamus mattis eleifend lorem ut egestas. Duis vehicula molestie lectus sed convallis. Sed tincidunt dignissim eros, ac malesuada metus pellentesque luctus. Sed adipiscing quam eu tellus ullamcorper vel sagittis augue hendrerit. Sed egestas congue est ac suscipit. </p>
  <ul>
  	<li>item</li>
    <li>item</li>
    <li>item</li>
    <li>item</li>
    <li>item</li>
    <li>item</li>  	
  </ul>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit Integer id augue sed diam congue dictum sit amet eget ipsum. Morbi viverra sem orci. Vivamus mattis.</p>
    
  </div><!-- /#col-main -->    

        
   <div id="col-widgets"> 
  </div><!-- /#col-widgets -->
        

</div>

