<div class="content-wrapper clearfix">

      
    <div id="col-main" class="content">
    <div id="page-header">
      <h2 id="page-title">Tu Retrato</h2>	
    </div>
    <p>Podemos hacer cualquier retrato que usted desee, pongase en <a href="/contact-us"> contacto </a>con nosotros. estas son algunos los trabajos solicitados por nuestros clientes</p>
  <ul>
  	<li>Personas</li>
  	<li>Mascotas</li>
  	<li>otro</li>
    <li>otro</li>
    <li>otro</li>
    <li>otro</li>
    <li>otro</li>
  	
  </ul>
  <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer id augue sed diam congue dictum sit amet eget ipsum. Morbi viverra sem orci.l</p>
    
  </div><!-- /#col-main -->    



</div>