			<div id="product-gallery">

				<div id="active-wrapper" >					
					<%= image_tag(@work.image.url, :size => "303x303")%> 
				</div>



				<ul id="thumbs">
					<li>
						<a class="gallery" href="http://cdn.shopify.com/s/files/1/0107/9662/products/file_1_9_1024x1024.jpg?28" title="White Chocolate">
							<img src="http://cdn.shopify.com/s/files/1/0107/9662/products/file_1_9_thumb.jpg?28" alt="White Chocolate">
						</a>
					</li>
					<li>
						<a class="gallery" href="http://cdn.shopify.com/s/files/1/0107/9662/products/file_1_4_1024x1024.jpg?28" title="White Chocolate">
							<img src="http://cdn.shopify.com/s/files/1/0107/9662/products/file_1_4_thumb.jpg?28" alt="White Chocolate">
						</a>
					</li>
				</ul>
			</div><!-- /#product-gallery -->