<li style="height: 229px; " class="generated-height ">
	<div class="product-grid-item ">
		<%= link_to work, :class =>"product-link" do%>					
		<%= image_tag(work.image.url, :size => "177x177", :class =>"product-photo")%> 
		<div class="product-information" style="height: 32px;">
			<%= work.name %>
		</div>
		<span class="product-price">			
			<small><%= number_to_currency(work.price) %></small> 
		</span>
		<% end %>    
	</div>    
</li>