/**
 * Radiance
 * A Shopify theme.
 *
 * Last update: June 19, 2012
 *
 * @version     2.2
 * @author      Ben Watts @ Shopify
 * @theme_url   http://radiance-theme.myshopify.com/
 *
 * If you need support or help customizing the theme:
 * - Try browsing the Shopify wiki: http://wiki.shopify.com/Main_Page
 * - Ask a question in the forums: http://forums.shopify.com/
 * - This is an official Shopify theme. Get support via: http://support.myshopify.com/
 *
 * Stay up-to-date and report any bugs:
 * - https://github.com/benwatts/shopify-theme-radiance
 */



/**
 * See: http://www.fontsquirrel.com/fonts/bebas-neue
 * Redistributed in this theme with permission from Dharma Type - March 26, 2011
 */
@font-face {
  font-family: 'BebasNeueRegular';
  src: url('BebasNeue-webfont.eot');
  src: url('BebasNeue-webfont.eot?iefix') format('eot'),
       url('BebasNeue-webfont.woff') format('woff'),
       url('BebasNeue-webfont.ttf') format('truetype'),
       url('BebasNeue-webfont.svg#webfontfvFLBU0N') format('svg');
  font-weight: normal;
  font-style: normal;
  }




/**
 * Reset
 */
html, body, div, span, object, iframe, p, blockquote, pre,
abbr, address, cite, code, del, dfn, img, ins, kbd, q, samp,
small, sub, sup, var, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
  }

blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }

body { font: 13px/1.231 Helvetica, Arial, sans-serif; *font-size:small; }
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

html { overflow-y: scroll; }
ol { list-style-type: decimal; }
p { margin: 0 0 1em 0; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }

sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; }
.ie6 legend, .ie7 legend { margin-left: -7px; }
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
select{ max-width: 99%; /* for ff */ }
input[type="text"].error, input[type="email"].error, input[type="password"].error { border-color:red }


  html{
  
    background: url(images/variant-wood-bg-oak.jpg) 0 0;

  
  }


html{ background-color: #63543c }

/*edy*/
.alert{
  font-size: 18px;
}
#flash_error, .alert-error, #flash_alert{
  color: red;
}
#flash_success, .alert-success, #flash_notice{
  color: green;
}

/**
 * Base Content Styles
 */
body {
  color: #6e6454;
  }

h1, h2, h3, h4, h5, h6 {
  color: #d7185c;
  line-height: 1.2;
  font-weight: bold;
  margin: 0 0 .5em 0;
  }
h1{ font-size: 22px; }

a { color: #564e41; }
a:hover { color: #d7185c }

blockquote{
  font: italic 13px/1.5 georgia, sans-serif;
  margin: 0 0 1.5em 1.25em;
  }

ul, ol{ margin: 0 0 1.5em 1.3em; }
li{ margin: 0 0 0.25em 0; }

input, textarea{
  border: solid 1px #b6a285;
  padding: 4px;
  color: #333;
  }
input[type="image"]{ border: none; }

button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

table{
  width: 100%;
  margin: 0 0 1.5em 0;
  border-collapse: collapse;
  }
table th{
  padding: 4px 8px;
  font-weight: bold;
  border: solid 1px #b6a285;
  color: #d7185c;
  /*background: #d5c7b3 url(http://cdn.shopify.com/s/files/1/010/9662/t/3/assets/table-header-depth.png?16) 0 100% repeat-x;*/
  }
table td{
  padding: 4px 8px;
  border: solid 1px #b6a285;
  }
tfoot th{ background: transparent; }


/**
 * Structure
 */

html,body { height: 100%; }
body { text-align: center; }

.wrapper{
  width: 980px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: left;
  min-height: 100%;
  }
.ie6 .wrapper{ height: 100%; }

#col-main{
  float: left;
  width: 740px;
  position: relative; z-index: 1;
  }
#col-main.content{
  width: 700px;
  }
#col-main.full{
  width: auto;
  float: none;
  }

#col-widgets{
  float: right;
  width: 215px;
  }

  .wrapper{ width: 740px; }
  #col-widgets { display: none; }




/**
 * Header
 */

#top{
  padding: 50px 0 0 0;
  margin: 0 0 30px 0;
  position: relative;
  z-index: 100;
  }

#my-title{
  font-family: 'Stalemate', cursive;
  color: #ffe86b;
  margin: 0;
  font-size: 80px


  }


#site-title a{
  text-decoration: none;
  color: #ffe86b;
  }
#site-title a:hover{
  color: #fffadd;
  }



/**
 * Top Menu
 */

#top-menu{
  padding: 8px 0 0 0;
  margin: 0 0 0 -10px;
  }
#top-menu li{
  float: left;
  }
#top-menu a{
  color: #ffffff;
  border-right: dotted 1px #9b835e;
  font: normal 24px BebasNeueRegular, arial, sans-serif;
  padding: 4px 10px;
  text-decoration: none;
  display: block;
  }
#top-menu .first a{
  border-radius: 4px 0 0 4px;
  }
#top-menu li.last a{
  border: none;
  border-radius: 0 4px 4px 0;
  }
#top-menu a:hover,
#top-menu .active a{
  color: #ffffff;
  background: #8a7555;
  }
#top-menu a:hover .nav-arrow{
  border-top-color: #ffffff;
  }

/* dropdown menus */
#top-menu .has-dropdown{
  position: relative;
  }
.js #top-menu .has-dropdown a{
  padding-right: 24px;
  }

.js #top-menu .nav-arrow{
  position: absolute;
  top: 45%;
  right: 10px;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #ffffff;
  display: block;
  }

#top-menu ul ul{
  clear: none;
  position: absolute;
  z-index: 30;
  background: #8a7555;
  top: 0;
  left: -1px;
  padding: 5px 0;
  display: none;
  width: 175px;
  -moz-box-shadow: 0 2px 3px #8a7555;
  -webkit-box-shadow: 0 2px 3px #8a7555;
  box-shadow: 0 2px 3px #8a7555;
  }
.ie6 #top-menu ul ul,
.ie7 #top-menu ul ul,
.ie8 #top-menu ul ul{
  border: solid 1px #8a7555;
  border-width: 0 1px;
  }
#top-menu ul .first ul{
  left: 0;
  }

#top-menu ul ul li{
  float: none;
  display: block;
  padding: 5px 10px;
  }
#top-menu ul ul a{
  font: 12px Helvetica, Arial, sans-serif;
  margin: 0; padding: 0;
  display: block;
  border: none;
  }
#top-menu ul ul a:hover{
  text-decoration: underline;
  }





/**
 * Shopping Cart at the Top
 */

body{ border-top: solid 4px #443827; }

#umbrella{
  background: #443827;
  padding: 0 10px 0 12px;
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  color: #e8dcca;
  }

#umbrella ul{
  margin: 0;
  padding: 0;
  list-style: none;
  }
#umbrella li{
  float: left;
  padding: 6px 12px 10px 0;
  margin: 0 12px 0 0;
  border-right: solid 1px #66563f;
  font-weight: normal;
  }
#umbrella p{
  margin: 0;
  }
#umbrella a{
  color: #e8dcca;
  text-decoration: none;
  }
#umbrella a:hover{ color: #ffffff; }



#umbrella .checkout-link{
  padding: 0;
  margin-right: 0;
  border: none;
  }
#umbrella .checkout-link a{ color: #f3e7d5; }
#umbrella .checkout-link a:hover{ color: #ffffff; }

/**
 * Sections
 */

.section-details{
  margin: 0 0 10px 0;
  }
.section-details a{
  color: #ffffff;
  text-decoration: none;
  }
.section-details .view-more{
  float: right;
  line-height: 32px;
  }

 .section-title{
  font: normal 24px/1 BebasNeueRegular, arial, sans-serif;
  color: #ffffff;
  float: left;
  margin: 0;
  }

.diagonal-divider{
  
  background: url("images/diagonal-white.png?16") 0 0 repeat-x;
  padding: 16px 0 0 0;
  width: 750px;
  margin: 0 0 20px 0;
  }

#page-title{
  font-size: 22px;
  border-bottom: dotted 1px #b6a285;
  padding: 0 0 15px 0;
  margin: 0 0 20px 0;
  }


/**
 * Product and Collection Gridx
 */

.product-grid{
  list-style: none;
  margin: 0;
  color: #f3e7d5;
  }
.product-grid li{
  width: 177px;
  float: left;
  margin: 0 5px 10px 0;
  position: relative;
  }
.product-grid .last-in-row{ margin-right: 0; }

.generated-height .product-grid-item{
  width: 177px;
  position: absolute;
  
  bottom: 0;
  
  }

.product-grid img{
  display: block;
  margin: 0 auto;
  }

.product-grid a{
  text-decoration: none;
  display: block;
  color: #f3e7d5;
  }
.product-grid a:hover{
  color: #ffffff;
  }

.product-grid .product-link{
  display: block;
  position: relative;
  z-index: 1;
  text-decoration: none;
  margin: 0;
  min-height: 50px;
  /* for ie6: */
  width: 100%;
  }

.product-photo{
  max-width: 177px;
  }
.ie6 .product-grid{ overflow: hidden; }

.product-information{
  padding: 10px;
  position: relative;
  background: #8a7555;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  }
.product-information h3{
  font: normal 24px/1 BebasNeueRegular, arial, sans-serif;
  margin: 5px 0 10px 0;
  }
.product-information p{
  line-height: 1.4em;
  margin: 0 0 .75em 0;
  }

.product-price{
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  width: auto;
  padding: 4px 8px;
  text-align: right;
  font-weight: bold;
  color: #d7185c;
  filter: alpha(opacity=85); /* internet explorer */
  -moz-opacity: 0.85;       /* mozilla, netscape */
  opacity: 0.85;           /* fx, safari, opera */
  background: #fff8cf;
  -webkit-border-radius: 4px 0 0 0;
  -moz-border-radius: 4px 0 0 0;
  border-radius: 4px 0 0 0;
  }
#featured-grid .product-price.sale, .sale {
  background-color: #444444;
  color: #ffffff;
  }

#featured-grid li{
  width: 240px;
  background: #8a7555;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  }
#featured-grid .product-photo{
  max-width: 240px;
  }
#featured-grid .product-price{
  top: -30px;
  right: 0;
  bottom: auto;
  padding: 3px 8px;
  font-size: 14px;
  line-height: 24px;
  color: #d7185c;
  }



/**
 * Single Product
 */

#product-information{
  float: right;
  width: 375px;
  }

#product-actions{
  padding: 4px 0 12px 0;
  overflow: hidden; height: 1%;
  }

#purchase{
  float: right;
  text-align: right;
  }
.sold-out #purchase{
  float: none;
  text-align: left;
  }
#add-to-cart{
  margin: 8px 0 0 0;
  }

#product-header{
  margin: 0 0 20px 0;
  border-bottom: 1px solid #b6a285;
  }
#product-header #product-header-title{
  float: left;
  width: 60%;
  margin: 5px 0 16px 0;
  }
#product-title{
  margin: 0 0 5px 0;
  font-size: 24px;
  font-style: normal;
  }
#product-vendor{
  font-size: 12px;
  font-weight: normal;
  margin: 0;
  }
#product-vendor a{
  text-decoration: none;
  }

#product-actions select{
  padding: 3px;
  }
#product-actions .price{
  font-size: 18px;
  margin: 0;
  font-weight: bold;
  text-align: right;
  }
#product-actions .price strong{
  color: #d7185c;
  display: block;
  }
#product-actions .compare_at_price{
  font-size: 12px;
  display: block;
  }

.variants-wrapper{
  text-align: right;
  margin: 0 0 8px 0;
  }
.selector-wrapper{
  margin: 0 0 8px 0 ;
  }
.selector-wrapper label{
  margin: 0 5px 0 0;
  text-align: right;
  }

#add-to-cart-msg{
  background: #d5c7b3;
  padding: 10px;
  display: none;
  margin: 0;
  }

#product-information #sharing{
  margin: 16px 0 0 0;
  padding: 16px 0 0 0;
  border-top: 1px solid #b6a285;
  }
#product-information #sharing ul{
  list-style: none;
  }
#product-information #sharing li{
  margin: 0;
  float: left;
  }

/**
 * Zoomy product gallery, with thumbs
 * @see https://github.com/benwatts/enhance-gallery
 */

#product-gallery,
#active-wrapper{
  width: 303px;
  }

#active-wrapper{
  position: relative;
  min-height: 50px;
  overflow: hidden;
  margin: 0 0 10px 0;
  }
#active-wrapper img{
  display: block;
  width: auto;
  }
#active-wrapper .zoomed{
  position: absolute;
  top: 0;
  left: 0;
  }

#active-image-loading{
  
  width: 40px;
  height: 40px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  position: absolute;
  top: 42%;
  left: 42%;
  z-index: 2;
  text-indent: -900em; overflow: hidden;
  }

#thumbs{
  margin: 0;
  list-style: none;
  }
#thumbs li{
  float: left;
  margin: 0 8px 8px 0;
  width: 54px;
  height: 54px;
  text-align: center;
  }
.no-js #thumbs li{ margin-right: 6px; }
#thumbs li.last-in-row{
  margin-right: 0;
  }
#thumbs a{
  display: block;
  border: solid 1px #b6a285;
  padding: 1px;
  }
#thumbs a:hover{
  border: solid 1px #d7185c;
  }
#thumbs img{
  margin: 0 auto;
  display: block;
  }



/**
 * Content
 */

.content{
  padding-bottom: 20px;
  
  padding: 20px;
  

  background: #ffffff;
  line-height: 1.5em;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  }
.content.description{ /* collection descriptions */
  
  padding: 10px 20px 0 20px;
  

  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin: 15px 0 15px 0;
  float: left;
  width: 700px;
  }

article{
  margin: 20px 0 45px 0;
    
  padding: 0 0 10px 0;
  }
.templateArticle article{ margin-top: 0; }

article .author{
  color: #999;
  font-style: italic;
  line-height: 20px;
  }
article footer{
  font-size: 11px;
  padding-top: 20px;
  }
article footer p{ margin: 0; }
article footer .author{ float: left; }
article footer .comments-link{ float: right; }
article footer .btn { padding: 2px 10px; }



/**
 * Pagination
 * Modified from http://twitter.github.com/bootstrap/
 */

.pagination {
  height: 30px;
  margin: 18px 0;
  }
.pagination ul {
  float: left;
  margin: 0;
  border: 1px solid #b6a285;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  background: #63543c;
  }
.pagination li {
  display: inline;
  }
.pagination a {
  float: left;
  padding: 0 14px;
  line-height: 28px;
  border-right: 1px solid #b6a285;
  text-decoration: none;
  color: #ffffff;
  }
.pagination a:hover, .pagination .active a {
  color: #f3e7d5;
  background-color: #d7185c;
  
  }
.pagination .active a{
  border-right-color: #63543c;
  }
.pagination .disabled a, .pagination .disabled a:hover {
  background: transparent;
  color:  #b6a285;
  cursor: default;
  }
.pagination .next a {
  border: 0;
  }

.pagination-num-showing{
  float: right;
  line-height: 28px;
  font-size: 11px;
  color: #ffffff;
  }


/**
 * Widgets in the Right Column
 */

#col-widgets{
  color: #e8dcca ;
  }

#col-widgets a{ color: #e8dcca }
#col-widgets a:hover{ color: #ffffff }

.widget{
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin: 0 0 20px 0;
  padding: 10px;
  background: #443827
  }

.widget h3{
  font: normal 24px BebasNeueRegular, arial, sans-serif;
  color: #f3e7d5;
  margin: 0 0 10px 0;
  }
#col-widgets .widget h3 a{
  color: #f3e7d5;
  text-decoration: none;
  }

.widget ul{ margin: 0; }
.widget li{
  padding: 0 0 5px 12px;
  list-style: none;
  }

.widget-btns a{
  background: #443827;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  display: block;
  padding: 6px 12px;
  margin: 0 0 6px 0;
  text-decoration: none;
  overflow: hidden; height: 1%;
  }
.widget-btns img{
  display: block;
  float: left;
  margin: 0 6px 0 0;
  }
.widget-btns .btn-text{
  display:block;
  width: 165px;
  float: right;
  }

/** twitter widget */
.no-js #widget-twitter{ display: none; }
.widget .tweet_list{
  margin: 0;
  list-style: none;
  }
.widget .tweet_list li{
  margin: 0 0 10px 0;
  padding: 0 0 10px 0;
  border-bottom: dotted 1px #715f46;
  background: none;
  word-wrap: break-word;
  line-height: 1.3em;
  }

/** linklist widget */
.widget-linklist li{
  border-top: dotted 1px #715f46;
  padding: 8px 0 0 0;
  margin: 8px 0 0 0;
  }
.widget-linklist li:first-child{
  border-top: none;
  padding: 0;
  margin: 0;
  }
.widget-linklist li a{
  display: block;
  margin: 0 0 0 12px;
  }
.ie7 .widget-linklist li a{
  float: left;
  }
.widget-linklist .arrow{
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid #715f46;
  display: block;
  float: left;
  margin: 4px 0 0 0;
  }
  
/** mailing list widget */
  
#email-input{ 
  width: 100%; 
  margin-bottom:10px; 
  }
.success.feedback{
  font-weight: bold;
  color: green;
  }

/**
 * Customer Accounts
 */

.page-header #page-title{ float: left; border: none; margin: 0; }
.page-header #page-actions{ float: right; }

.templateCustomersLogin form input,
.templateCustomersRegister form input{
  float: left;
  }
.templateCustomersLogin form label,
.templateCustomersRegister form label{
  float: left;
  min-width: 120px;
  line-height: 22px;
  }
.templateCustomersLogin .form-row,
.templateCustomersActivateAccount .form-row,
.templateCustomersRegister .form-row{
  margin: 0 0 8px 0;
  }
.templateCustomersLogin .action-bottom,
.templateCustomersRegister .action-bottom{
  margin: 20px 0 0 0;
  }
.templateCustomersLogin .action-bottom .note,
.templateCustomersRegister .action-bottom .note{
  font-size: 11px;
  padding: 0 0 0 5px;
  line-height: 27px;
  }


/* >> login Form */
#customer-login,
#recover-password{
  float: left;
  width: 58%;
  border-right: solid 1px #b6a285;
  }
#recover-password{
  display: none;
  }
#recover_email label{
  min-width: 75px;
  }
#forgot_password{
  margin: 2px 0 0 5px;
  font-size: 11px;
  float: left;
  }

#guest{
  float: right;
  width: 38%
  }


/* >> manage orders and addresses */
#customer_orders{
  width: 75%;
  float: left;
  }
#customer_sidebar{
  float: right;
  width: 20%;
  }
.address p,
.view_address p{ margin: 0; }

#view_address{
  border-top: solid 1px #b6a285;
  padding: 10px 0 0 0;
  margin-top: 10px;
  display: block;
  }

.address_actions{ float: right; }
.address_actions .action_edit{
  border-right: solid 1px #b6a285;
  padding-right: 10px;
  }
.address_actions .action_delete{ padding-left: 16px; }

.action_top{  margin: 0 0 20px 0; }

.action_edit,
.action_delete,
.action_add{
  display: inline-block;
  padding-left: 16px;
  }

.default_address{
  color: #d7185c;
  }
.address_table,
#add_address{
  border: dotted 1px #b6a285;
  padding: 10px;
  margin: 0 0 20px 0;
  }
.address_table .label,
#add_address .label{
  width: 125px;
  padding-left: 0;
  }
.address_table h4{
  padding: 0 0 5px 0;
  margin: 0 0 10px 0;
  }
.customer_address_table{ margin: 0; }
.customer_address_table td{ border: none; }
.customer_address_table input{ margin: 0 5px 0 0; }
.customer_address .action-bottom{ margin-left: 141px; }


/** >> view individual orders */
.order_date{
  border-bottom: solid 1px #b6a285;
  padding: 0 0 5px 0;
  margin: 0 0 20px 0;
  }

#order_address{
  overflow: hidden; height: 1%;
  margin: 0 0 20px 0;
  }
#order_address #order_payment,
#order_address #order_shipping{
  float: left;
  width: 46%;
  margin-right: 2%;
  }



/**
 * Comments
 */

.comment{
  margin: 0 0 20px 0;
  }

.comment-author{
  float: left;
  width: 18.0%;
  padding: 12px 0 0 0;
  font-weight: bold;
  text-align: right;
  color: #9a8361;
  }

.comment-content{
  background: #f3e7d5;
  float: right;
  width: 75%;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  position: relative;
  padding: 15px;
  color: #534c40
  }
.comment-arrow{
  width:0px;
  height:0px;
  border-bottom:8px solid transparent;
  border-top:8px solid transparent;
  border-right:8px solid #f3e7d5; /* arrow colour */
  font-size:0px;
  line-height:0px;
  position: absolute;
  top: 14px;
  left: -8px;
  }

.comment-posted{
  font-style: italic;
  margin: 0;
  font-size: 11px;
  line-height: 1;
  color: #9a8361;
  }


.comment-form label{
  display: block;
  width: 130px;
  float: left;
  }
.comment-form #comment-submit{
  margin: 0 0 10px 130px;
  }
.comment-form div{
  margin: 0 0 10px 0;
  }
.comment-form .text{
  float: left;
  border: solid 1px #ccc;
  padding: 5px;
  width: 150px;
  color: #666;
  }

.comment-form textarea.text{
  width: 500px;
  }

.has-error label{ color: #e0360f; }
.has-error label.error-msg{ color: #fff; }
.has-error input,
.has-error textarea,
.has-error .text{
  border: solid 1px #ff0000;
  -webit-box-shadow: 0 0 4px rgba(255,0,0,.6);
  -moz-box-shadow: 0 0 4px rgba(255,0,0,6);
  box-shadow: 0 0 4px rgba(255,0,0,.6);
  }

.error-msg,
.success-msg,
.errors{
  padding: 10px;
  color: #fff;
  text-align: left;

  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  }
.error-msg,
.errors{
  background-color: #770e00;
  }
.success-msg{
  background-color: #387700;
  }

.errors{ margin: 0 1em 1.5em 0; }
.errors ul,
.errors li{ margin: 0; list-style: none; }



/**
 * Search
 */

#search-form{
  padding: 0 0 20px 0;
  overflow: hidden; height: 1%;
  }
#search-form #q{
  font-size: 16px;
  padding: 6px;
  width: 575px;
  border: solid 1px #b6a285;
  float: left;
  }
#search-form #search-submit{ /* overriding some of .btn's styles */
  padding-top: 7px;
  padding-bottom: 6px;
  float: right;
  width: 100px;
  }
.ie7 #search-form #search-submit{
  border: none;
  }

.results .item{
  margin: 0 0 20px 0;
  padding: 0 0 20px 0;
  border-bottom: solid 1px #b6a285;
  }
.results .thumbnail{
  float: left;
  }
.results .search-excerpt{
  margin: 0 0 0 75px;
  }



/**
 * Cart
 */

#cartform table{
  width: 100%;
  margin: 0 0 20px 0;
  }
#cartform table td{
  text-align: center;
  vertical-align: middle;
  padding: 5px;
  }
#cartform table th{
  text-align: center;
  }
col.checkout-image{ width: 50px; }
col.checkout-delete{ width: 80px; }


#cartform td img{ display: block; }
#cartform input.text { border: solid 1px ; padding: 4px ; text-align: center; }

#cartform .subtotal{
  text-align: center;
  }
#cartform .update-quantities{
  text-align: center;
  padding: 5px;
  width: 170px;
  }

#checkout-proceed{
  float: right;
  width: 38%;
  text-align: right;
  }

#checkout-addnote{
  float: left;
  width: 60%;
  }
#checkout-addnote a{
  display: block;
  width: 165px;
  float: left;
  }
#checkout-addnote textarea{
  border: solid 1px #b6a285;
  color: #6e6454;
  width: 250px;
  height: 60px;
  float: left;
  padding: 4px;
  }
.js #checkout-addnote textarea{
  display: none;
  }

#additional-checkout-buttons{
  padding: 5px;
  margin: 5px 0 0 0;
  }
#additional-checkout-buttons-label{
  border-bottom: solid 1px #b6a285;
  display: block;
  margin: 0 0 8px 0;
  font-size: 11px;
  font-weight: bold;
  }



/**
 * Footer
 */

#bottom{
  padding: 15px 0;
  
  padding-left: 20px;
  padding-right: 20px;
  

  margin: 25px 0 50px 0;
  font-size: 11px;
  clear: both;
  overflow: hidden;
  height: 1%;
  background: #443827;
  color: #f3e7d5;
  }

#footer-left{
  width: 400px;
  float: left;
  }
#footer-right{
  width: 280px;
  float: right;
  }

#bottom ul{
  list-style: none;
  margin: 0 0 10px 0
  }
#bottom li{
  float: left;
  margin: 0 0 0 10px;
  padding: 0 0 0 10px;
  }
#bottom a{ color: #f3e7d5;}
#bottom a:hover{ color: #ffffff;}
#bottom p{ line-height: 1.5em }

#footer-nav{
  margin: 14px 0 0 0;
  }
#footer-nav li{
  border-left: solid 1px #f3e7d5;
  }
#footer-nav li:first-child{
  border-left: none;
  margin: 0;
  padding: 0;
  }

#bottom #sm-icons{
  float: right;
  margin: 0;
  }
#sm-icons li{
  margin: 0 0 0 5px;
  padding: 0;
  }
#sm-icons a{
  width: 36px;
  height: 37px;
  background-image: url("images/social-media.png");
  display: block;
  }


#sm-youtube a{ background-position: 0 0; }
#sm-flickr a{ background-position:-36px 0; }
#sm-twitter a{ background-position: -72px 0; }
#sm-facebook a{ background-position: -108px 0; }
#sm-vimeo a{ background-position: -144px 0; }
#sm-pinterest a{ background-position: -180px 0; }

#sm-youtube a:hover{ background-position: 0 -39px; }
#sm-flickr a:hover{ background-position:-36px -39px; }
#sm-twitter a:hover{ background-position: -72px -39px; }
#sm-facebook a:hover{ background-position: -108px -39px; }
#sm-vimeo a:hover{ background-position: -144px -39px; }
#sm-pinterest a:hover{ background-position: -180px -39px; }


#footer-payment-methods{
  clear: both;
  border-top: solid 1px #D7D7D7;
  padding: 15px 0 0 0;
  text-align: center;
  }
#footer-payment-methods p{
  margin: 0 0 5px 0;
  text-transform: uppercase;
  }

/**
 * Homepage Carousel
 */

/* Adjust this to alter the width and height of the carousel. */
#carousel,
#carousel .items > li{
  width: 740px;
  height: 300px;
  }

#carousel-wrapper{ margin: 0 0 30px 0; }

#carousel{
  position: relative;
  z-index: 50;
  overflow: hidden;
  background: #F4F4F4;
  }
#carousel p,
#carousel li{
  margin: 0;
  }

#carousel .items{
  margin: 0;
  padding: 0;
  width: 20000em;
  position: absolute;
  z-index: 1;
  }
#carousel .items > li{
  float: left;
  list-style: none;
  }

#carousel .items img{ max-width: 100%; } /* I was on the fence about adding this line in, but hope it will do some good */

#carousel-controls{ margin-top: 10px; }


#carousel .browse{
  width: 20px;
  height: 100%;
  background: #443827;
  position: absolute;
  z-index: 100;
  cursor: pointer;
  opacity: .9;
  display: none;
  }
#carousel-next{
  top: 0;
  right: 0;
  }
#carousel-prev{
  top: 0;
  left: 0;
  }

#carousel .arrow{
  display: block;
  position: absolute;
  top: 46%;
  }
#carousel-next .arrow{
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #f3e7d5;
  left: 5px;
  }
#carousel-prev .arrow{
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right:10px solid #f3e7d5;
  right: 5px;
  }

#carousel .browse:hover{ background: #f3e7d5; }
#carousel-next:hover .arrow{ border-left-color: #d7185c; }
#carousel-prev:hover .arrow{ border-right-color: #d7185c; }
#carousel-slide-menu{list-style-type:none; text-align: center;}
#carousel-slide-menu li{width:14px; height:14px; border-radius:7px; background: #BBBBBB; display:inline-block; margin:10px 3px 0; cursor: pointer;}
#carousel-slide-menu .active{background:#000;}

/**
 * Utils
 */

.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
.left{ float: left; }
.right{ float: right; }

.btn,
a.btn{
  display: inline-block;
  
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: solid 1px #9a8361;
  color: #f3e7d5;
  padding: 5px 10px 4px 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
  cursor: pointer;
  }
  
.btn.disabled:hover,
a.btn.disabled:hover{
  border: solid 1px #9a8361;
  
  color: #f3e7d5;
  }
  
.disabled{-moz-opacity:0.30;opacity:.30;filter:alpha(opacity=30);cursor:default;}

.btn:hover,
a.btn:hover{
  border: solid 1px #d7185c;
  
  color: #ffffff;
  }

.btn-reversed{
  border: solid 1px #d7185c;
  
  color: #ffffff;
  }
.btn-reversed:hover{
  
  border: solid 1px #9a8361;
  color: #f3e7d5;
  }



/**
 * Contact/Newsletter Forms
 */

.contact-form ul{
  margin: 0;
  }
.contact-form li{
  list-style: none;
  margin: 0 0 8px 0;
  }

.contact-form label{
  display: block;
  min-width: 90px;
  float: left;
  }
.contact-form textarea{
  width: 400px;
  height: 100px;
  }
.contact-form .type-submit{
  margin: 0 0 0 90px;
  }

.contact-form .error-msg{
  float: none;
  display: inline;
  margin: 0 0 0 10px;
  font-size: 11px;
  padding: 6px;
  }
.contact-form .has-error input{
  border: solid 1px #ef3a22;
  }

/**
 * Some print style resets
 */

@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}

/**
 * No products
 * Visible only to an empty store.
 */

#featured-grid .placeholder{
  display: block;
  width: 240px;
  height: 200px;
  
  }

.product-grid .placeholder{
  width: 177px;
  height: 130px;
  display: block;
  
  }


.no-products{
  position: relative;
  }
.no-products-overlay{
  opacity: .75;
  background: #63543c;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#BF63543c', endColorstr='#BF63543c',GradientType=0 );
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 4;
  top: 0;
  left: 0;
  }
.ie7 .no-products-overlay,
.ie8 .no-products-overlay{ background: transparent; }

.no-products-post-it{
  position: absolute;
  top: 125px;
  left: 198px;
  z-index: 5;
  width: 345px;
  height: 193px;

  font-family: georgia, serif;
  font-size: 16px;
  color: #4b4a43;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
  }
.no-products-post-it-content{
  padding: 65px 20px 20px 20px;
  line-height: 1.4em;
  }
.no-products-post-it em{
  display: block;
  color: #3b3a34;
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
  margin: 0 0 10px 0;
  }
.no-products-post-it a{
  color: #25669c;
  }

/* Added by Caroline on January 14th for Customizr */

#product-actions input.text,
#product-actions input[type=text],
#product-actions textarea {
  width: 90%;
}

#product-actions input[type=text]:invalid,
#product-actions textarea:invalid {
  -moz-box-shadow:       inset 0 0 1px 1px #FF9494;
  -webkit-box-shadow:    inset 0 0 1px 1px #FF9494;
  box-shadow:            inset 0 0 1px 1px #FF9494;
}

.error span {
  line-height: 2;
  color: red;
}
