    <footer id="bottom">

      <div id="footer-left">
        <ul id="footer-nav" class="clearfix">        
          <li><a href="/search">Search</a></li>        
          <li><a href="/pages/about-us">About Us</a></li>        
        </ul>
        <p>© 2012 <a href="/">Radiance (Wood)</a>. All Rights Reserved.<br>
          <a href="http://www.shopify.ca" target="_blank" title="Create your own online store with Shopify hosted ecommerce">Ecommerce Software</a> by Shopify</p>
      </div>

      
      <div id="footer-right">
        <ul id="sm-icons" class="clearfix">
          <li id="sm-youtube"><a href="http://www.youtube.com" class="ir">YouTube</a></li>
          <li id="sm-flickr"><a href="http://www.flickr.com" class="ir">Flickr</a></li>
          <li id="sm-twitter"><a href="http://www.twitter.com" class="ir">Twitter</a></li>
          <li id="sm-facebook"><a href="http://www.facebook.com" class="ir">Facebook</a></li>
          <li id="sm-vimeo"><a href="http://www.vimeo.com" class="ir">Vimeo</a></li>
          <li id="sm-pinterest"><a href="http://www.pinterest.com" class="ir">Pinterest</a></li>
        </ul>
      </div>      
   </footer>