    <footer id="bottom">

      <div id="footer-left">
        <ul id="footer-nav" class="clearfix">        
          <li>Developed by <a href="mailto:edyhack@gmail.com">edymerchk</a></li>               
        </ul>
       
      </div>     
      
   </footer>