    <header id="top" class="clearfix">
      <h1 id="site-title">
        <a href="/" title="Home">          
            <img src="http://cdn.shopify.com/s/files/1/0107/9662/t/3/assets/logo.png?28">   
        </a>
      </h1>
      <nav id="top-menu" class="clearfix">
        <ul>          
          <li class="first">           
              <a href="/">Home</a>            
          </li>          
          <li class="">
              <%= link_to "Galeria", works_path %> 
          </li>
          <li class="">             
              <%= link_to "Tu Retrato", about_path %>            
          </li>    
          <li class="">             
              <%= link_to "Acerca de mi", about_path %>            
          </li>
          <li class="last">           
            <%= link_to "Contactame", about_path %>                           
          </li>          
        </ul>        
      </nav>
   </header>
